
.cookie-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #333;
    display: none; /* Hidden by default */
    z-index: 1000;
}


.cookie-popup p {
    margin: 0 0 15px;
    font-size: 16px;
    color: #333;
}


.cookie-popup button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

#accept-cookies {
    background-color: #080808;
    color: #ffffff;
    margin-right: 10px;
}

#accept-cookies:hover {
    background-color: #3e3e3e;
}

#decline-cookies {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ddd;
}

#decline-cookies:hover {
    background-color: #ddd;
}

    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
.home-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.home-icon:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ff9e6a;
}
