/* Barre de navigation */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(8px);
    z-index: 100;
    padding: 0 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.header.hidden {
    transform: translateY(-100%);
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.logo img {
    height: 60px;
}

.search-bar {
    flex: 1;
    max-width: 600px;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 12px 16px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border-radius: 12px;
    color: #000;
    font-size: 14px;
}

.menu-burger {
    position: relative;
    cursor: pointer;
}

.menu-burger .menu-icon {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(172, 172, 172, 0.221);
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: none;
    flex-direction: column;
    width: 300px;
    z-index: 200;
    text-align: center;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}

.menu-burger:hover .menu-dropdown {
    display: flex;
}

.menu-item {
    padding: 0.9rem;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #eee;
    font-family: 'Roboto', sans-serif;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item:hover {
    background-color: #f5f5f5;
}
